# ---- Python ----
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.ipynb_checkpoints
env/
venv/
ENV/
.venv/
.Python
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ---- R ----
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
.Rproj/
*.Rproj
.Renviron
.Renviron.site
.Rprofile
.Rprofile.site
.Rbuildignore
.Rcheck/

# ---- General ----
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.log
